[Unit]
Description=My API
After=network.target

[Service]
WorkingDirectory=/path/to/your/dotnetcore/project/bin/Release/netcoreapp3.1/linux-x64/publish
ExecStart=/path/to/your/dotnetcore/project/bin/Release/netcoreapp3.1/linux-x64/publish/yourapp
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=mydotnetapp
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
